/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2020, 13:58:38 PM
    Author     : green
*/

.address {
    margin-bottom: 20px;
}

.title-name {
    width: 90px;
}

.info {
    text-decoration: none;
}

.map img {
    width: 700px;
    height: 515px;
}

.map {
    padding-top: 60px;
}

.spacing{
    padding-bottom: 40px;
}