/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2020, 13:58:38 PM
    Author     : green
*/

.image-slide img {
    width: 700px;
    margin-top: 20px;
}

.detail-gallery {
    margin-top: 65px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 170px 170px 170px 170px;
}

.image {
    text-align: center;
    height: auto;
    width: 170px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 29px 50px -30px black;
}

.image-small {
    width: 150px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.noti p {
    font-size: 18px;
}

.noti a {
    color: white;
    font-size: 16px;
}

