/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 16, 2020, 13:58:38 PM
    Author     : green
*/
.navitigator {
    background-color: #303030;
    height: 30px;
}

.navi-bar {
    display: flex;
    width: 940px;
    margin: 0 auto;
}

.navi-text {
    color: white;
    text-decoration: none;
}

.navi-item {
    padding: 5px 15px 0px 15px;
    border-left: solid 0.6px white;
    font-family: serif;
}

.title-header {
    background-color:  #722f31;
    font-family: Times New Roman;
    font-size: 22px;
    padding-top: 30px;
}

.title-content {
    width: 940px;
    margin: 0 auto;
    display: flex;
}

.logo image{
    height: 70px;
    width: 80px;
}

.title-web {
    padding-left: 20px;
    padding-bottom: 33px;
}

.name-web {
    font-size: 47px;
    margin-top: -10px;
    margin-bottom: 5px;
}
.name-web a {
    color: white;
    text-decoration: none;
}

.active-title{
    font-weight: bold;
}